<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form
        (ngSubmit)="onSubmit()"
        #f = 'ngForm'
      >
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group" style="margin-top: 20px">
          <label>Mail Address</label>
          <input
          type="text"
          class="form-control"
          name="email"
          ngModel
          email
          required
          #email = ngModel>
          <span
            *ngIf="email.invalid && email.touched"
            class="help-block"
          >Please provide a valid email address</span>
        </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()">Suggest an Email</button>
          <br><br>
        <div class="form-group">
          <label>Password</label>
          <input
          type="text"
          class="form-control"
          name="pass"
          ngModel
          minlength="4"
          required
          #pass = ngModel>
          <span
            *ngIf="pass.touched && pass.invalid"
            class="help-block"
          >
            Your password needs to have at least 4 characters.
          </span>
        </div>
        </div>

        <div>
          <label>Your Subscription</label>
          <select
            class="form-control"
            [ngModel]="defaultValue"
            name="subscriptions"
          >
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <label>Repeat as you type</label>
          <textarea
          name="textRepeat"
          class="form-control"
          rows="3"
          [(ngModel)]="answer"
          style="margin-bottom: 10px">
          </textarea>
          <span>Your reply: {{ answer }}</span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="genderSelected"
              ngModel
              [value]="gender">
            {{ gender }}
          </label>
        </div>
        <button
          class="btn btn-primary"
          [disabled]="f.invalid"
        >Submit</button>
      </form>
    </div>
  </div>
  <br>
  <hr>
  <div
    class="col-xs-12"
    *ngIf="submitted"
  >
    <h3>Here is your Data:</h3>
    <p>Your email: {{ user.emailAddress }}</p>
    <p>Your subscription: {{ user.sub }}</p>
    <p>Your password: {{ user.password }}</p>
    <p>Your gender: {{ user.gender }}</p>
    <p>Your text: {{ user.repeatType }}</p>
    <br><br>
  </div>
</div>


      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
